@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply bg-slate-950;
}

* {
  min-width: 0;
  min-height: 0;
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
}

.text-glow {
  animation: glowing 1.5s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 500ms ease-in-out;
}

.animation-flip {
  animation: flip 1s ease-in-out;
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-15px);
  }
  50% {
    transform: translateX(15px);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shaketimer {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25%,
  75% {
    transform: translate(-1px, -1px);
  }
  50% {
    transform: translate(1px, 1px);
  }
}

.shake-timer {
  animation: shaketimer 0.3s infinite;
}
